# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/.idea.Quoridor.iml
# Datasource local storage ignored files
/../../../../../../:\UnityProjects\Quoridor\.idea\.idea.Quoridor\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
